* {
  font-family: inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  nav {
    background-color: #ffffff;
    max-width: 1536px;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
  }
  .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
  }
  .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
  }
  .btn {
    font-size: 16px;
    font-weight: 600;
    width: 164px;
    border: none;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
    background-color: #469165;
    color: white;
  }